<ion-header>
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- This page has student name and id. -->
<ion-content>
  <ion-card class="welcome-card">
    <ion-img
      src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/65134911_10156552253759716_8767399324955967488_o.jpg?_nc_cat=107&_nc_oc=AQn-s8d5GU-k-pkFnvPiI4HSEGGA3wTaZ2G513bdzVyeX6l_9Yd95kEz35vx7kyMwgc&_nc_ht=scontent-ort2-1.xx&oh=a95fbe0d32e6945d10b3c66fb797f171&oe=5DAC11C9"
    ></ion-img>
    <ion-card-header>
      <ion-card-title><b>Name:</b> Sony Yang</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><b>Student ID:</b> 0880516</p>
    </ion-card-content>
  </ion-card>
</ion-content>
