<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- This is the Home Tab-->
<ion-content>
  <ion-card class="welcome-card">
    <ion-img
      src="https://www.alliancegrocerykart.com/Content/images/banner_12.jpg"
    ></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to the Grocery App</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>This is the Grocery app.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
